---
import Home from '../components/Home.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Astro.'>
  <main class='md:flex md:flex-col md:justify-center md:items-center'>
    <Home />
  </main>
  <footer></footer>
</Layout>

<style></style>
