---
import Email from '../components/icons/Email.astro';
import Github from '../components/icons/Github.astro';
import Line from '../components/icons/Line.astro';
import Linkedin from '../components/icons/Linkedin.astro';
import Logo from '../components/icons/Logo.astro';
import Sun from '../components/icons/Sun.astro';
---

<nav
  id='navbar'
  class='md:flex md:flex-shrink-0 md:items-center md:justify-between md:gap-10 w-4/5 h-15 p-4 mt-8'
>
  <div class='md:flex md:items-center md:justify-center md:gap-10'>
    <Logo />
    <ul class='md:flex md:items-center md:justify-center md:gap-10'>
      <li>
        <a
          class='text-Basic-Light-Gray'
          href='about'
          >Sobre Mi</a
        >
      </li>
      <li>
        <a
          class='text-Basic-Light-Gray'
          href='#project'
          >Proyectos</a
        >
      </li>
      <li>
        <a
          class='text-Basic-Light-Gray'
          href=''
          >Habilidades</a
        >
      </li>
      <li>
        <a
          class='text-Basic-Light-Gray'
          href=''
          >Contacto</a
        >
      </li>
    </ul>
  </div>
  <ul class='md:flex md:items-center md:justify-center md:gap-6'>
    <li>
      <a
        class='text-Basic-Light-Gray'
        href='https://www.linkedin.com/in/samirgm-front-end/'
        target='_blank'
        ><Linkedin /></a
      >
    </li>
    <li>
      <a
        class='text-Basic-Light-Gray'
        href='https://github.com/sami24-dev'
        target='_blank'
        ><Github /></a
      >
    </li>
    <li>
      <a
        class='text-Basic-Light-Gray'
        href='mailto:samirgm24@gmail.com'
        ><Email /></a
      >
    </li>
    <li class='text-Basic-Light-Gray'>
      <Line />
    </li>
    <li class='text-Basic-Light-Gray'>
      <Sun />
    </li>
  </ul>
</nav>
<style is:inline>
  #navbar {
    border-radius: 12px;
    background: rgba(24, 24, 29, 0.3);
    backdrop-filter: blur(2px);
  }
</style>
