<nav
  id='navbar'
  class='md:flex md:flex-shrink-0 md:items-center md:justify-between md:gap-10 w-4/5 h-15 p-4 mt-8'
>
  <div class='md:flex md:items-center md:justify-center md:gap-10'>
    <img
      src='../../public/iconos/Logo.svg'
      alt='logo'
    />
    <ul class='md:flex md:items-center md:justify-center md:gap-10'>
      <li>
        <a
          class='text-Basic-Light-Gray'
          href='about'
          >Sobre Mi</a
        >
      </li>
      <li>
        <a
          class='text-Basic-Light-Gray'
          href='#project'
          >Proyectos</a
        >
      </li>
      <li>
        <a
          class='text-Basic-Light-Gray'
          href=''
          >Habilidades</a
        >
      </li>
      <li>
        <a
          class='text-Basic-Light-Gray'
          href=''
          >Contacto</a
        >
      </li>
    </ul>
  </div>
  <ul class='md:flex md:items-center md:justify-center md:gap-6'>
    <li>
      <a
        href='https://www.linkedin.com/in/samirgm-front-end/'
        target='_blank'
        ><img
          class='text-Basic-Light-Gray'
          src='../../public/iconos/LinkedIn.svg'
          alt='LinkedIn'
        /></a
      >
    </li>
    <li>
      <a
        href='https://github.com/sami24-dev'
        target='_blank'
        ><img
          class='text-Basic-Light-Gray'
          src='../../public/iconos/Github.svg'
          alt='Github'
        /></a
      >
    </li>
    <li>
      <a href='mailto:samirgm24@gmail.com'
        ><img
          class='text-Basic-Light-Gray'
          src='../../public/iconos/Message-Fill.svg'
          alt='Message-Fill'
        /></a
      >
    </li>
    <li>
      <img
        src='../../public/iconos/Line-9.svg'
        alt='Line'
      />
    </li>
    <li>
      <img
        src='../../public/iconos/Sun.svg'
        alt=''
      />
    </li>
  </ul>
</nav>
<style is:inline>
  #navbar {
    border-radius: 12px;
    background: rgba(24, 24, 29, 0.3);
    backdrop-filter: blur(2px);
  }
</style>
